body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: #adb5bd;
}

#container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto ;
    padding-top: 0.625em;
    padding-bottom: 3em;
    background-image: url('background.png');
    box-sizing: border-box;
    min-height: 100vh;
}
#root{
    margin-right: 5px;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#addCommentToRoot{
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: 0.625em auto;
    border: none;
    background-color: #9645E9;
    color: #F7F9FB;
}
#deleteFromRoot{
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: 0.625em auto;
    border: none;
    background-color: #9645E9;
    color: #F7F9FB;
}

.inputBlockSection{
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    Column-gap: 1.25em;
    row-gap: 1.25em;
}

.inputBox{
    width: 75%;
    border-radius: 1.25em;
    padding-left: 0.625em;
}

.submitComment{
    width: 2rem;
}
.deleteComment{
    width: 2rem;
    text-align: center;
}
.submitComment:hover,
.submitComment:focus{
    color: #9645E9;
    transform: 10px;
}
.deleteComment:hover,
.deleteComment:focus{
    color: red;
    transform: 10px;
}
.textBlockSection{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
}
.textBlockSection > div:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    Column-gap: 1.25em;
    row-gap: 1.25em;
   
}
.textBlockSection > div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    Column-gap: 1.25em;
    row-gap: 1.25em;
}
.textContentAndDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.textContentAndDelete p{
    width: 80%;
    height: auto;
    word-wrap: break-word;
}
.textContentAndDelete button{
    width: 10%;
    align-self: flex-start;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.likeDislikeAddComment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1em;
}

.material-symbols-outlined {
    font-size: 1rem !important;;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 20
}
.likeIcon:hover,
.likeIcon:focus
{
    color: blue;
}
.dislikeIcon:hover,
.dislikeIcon:focus
{
    color: red;
}
footer{
    background-color: #1C1C1C;
}
footer p{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #F7F9FB;
}

@media all and (max-width:680px)  {
    .inputBox{
        width: 60%;
    }
}
@media all and (max-width:400PX)  {
    .textBlockSection > div:first-child {
        flex-direction: column;
        align-content: space-evenly;
    }
    .textBlockSection > div:nth-child(2) {
        flex-direction: column;
        align-content: space-evenly;
        text-align: center;
    }
    .textBlockSection > div:nth-child(2) button,
    .textBlockSection > div:nth-child(2) div{
        width: 80%;
    }
    .textContentAndDelete button,
    .submitComment,
    .deleteComment {
        width: 80%;
        
    }
    .textContentAndDelete p {
        text-align: center;
    }
    .inputBlockSection{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .inputBox{
        width: 80%;
    }
}