body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

#container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto ;
    margin-top: 0.625em;
    margin-bottom: 3em;
    background-image: url('background.png');
    box-sizing: border-box;
    min-height: 100vh;
}
#root{
    margin-right: 5px;
}
#header{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-image: url('background.png');
}
.headerspacer{
    height: 3rem;
}
#addCommentToRoot{
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: 0.625em auto;
    border: none;
    background-color: #9645E9;
    color: #F7F9FB;
}
#deleteFromRoot{
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: 0.625em auto;
    border: none;
    background-color: #9645E9;
    color: #F7F9FB;
}

.inputBlockSection{
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    flex-wrap: wrap;
    Column-gap: 1.25em;
    row-gap: 1.25em;
}

.inputBox{
    width: 75%;
    border-radius: 1.25em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.submitComment{
    width: 2rem;
    background-color: #9645E9;
    max-width: 10%;
    border: none;
    text-align: center;
    border-radius: 50%;
}
.deleteComment{
    width: 2rem;
    background-color: #9645E9;
    max-width: 10%;
    border: none;
    text-align: center;
    border-radius: 50%;
}
.submitComment:hover,
.submitComment:focus{
    transform: 10px;
}
.textBlockSection{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
}
.textBlockSection > div:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    Column-gap: 1.25em;
    row-gap: 1.25em;
   
}
.textBlockSection > div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    Column-gap: 1.25em;
    row-gap: 1.25em;
}
.textContentAndDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.textContentAndDelete p{
    width: 80%;
    height: auto;
    word-wrap: break-word;
}
.textContentAndDelete button{
    width: 10%;
    align-self: flex-start;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.likeDislikeAddComment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1em;
}

.material-symbols-outlined {
    font-size: 16px !important;;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 20
}

footer{
    background-color: #1C1C1C;
}
footer p{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #F7F9FB;
}